/* Global Reset and Font */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* Body Styling */
body {
    background-color: #1a1a1a;
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

/* Main Container */
#main-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Main Title */
#main-title {
    justify-items: center;
    text-align: center;
}

/* Solution Container */
#solution-container {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.8rem;
}

/* Progress Bar */
#progress-container {
    justify-items: center;
    width: 100%;
    max-width: 700px;
}

.progress-bar {
    margin-top: 0.5rem;
    height: 1.5rem;
    width: 100%;
    background-color: #333;
    border-radius: 0.75rem;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: #5fd35f;
    transition: width 0.3s ease;
}

/* Selectors Container */
#selectors-container {
    padding: 0.5rem;
}

#selectors-container select {
    background-color: #333;
    color: #eee;
    border: 1px solid #555;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    margin: 0.4rem;
    width: 12.5rem;
}

#selectors-container select:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

#selectors-container select option {
    background-color: #333;
    color: #eee;
}

/* Day Dropdown Adjustments */
#selectors-container select:nth-child(2) {
    width: auto;
    min-width: 12.5rem;
}

/* Code Container */
.code-container {
    position: relative;
    background: #313244;
    border-radius: 0.5rem;
    padding: 0.7rem;
    overflow: hidden;
    max-width: 75rem;
    max-height: 32rem;
    display: none;
    width: 80%;
}

.code-container[x-show="currentSolution != ''"] {
    display: block;
}

.error-message {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    gap:  0.6rem;
}

.error-icon {
    font-size: 3rem;
}

/* Preformatted Text */
pre {
    overflow: auto;
    white-space: pre;
    max-height: 28.125rem;
    max-width: 100%;
    padding-right: 0.625rem;
    }

code {
    display: block;
    font-family: monospace;
    font-size: 1rem;
    line-height: 1.5;
}

/* Copy Button */
.copy-button {
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
    background: #585b70;
    color: #cdd6f4;
    border: none;
    padding: 0.3125rem 0.625rem;
    cursor: pointer;
    border-radius: 0.25remx;
    font-size: 0.75rem;
    transition: background 0.3s;
}

.copy-button:hover {
    background: #6c7086;
}

.copy-button:focus {
    outline: none;
}

.copy-button.copied {
    background: #5fd35f;
    color: white;
}

/* Custom Scrollbar */
pre::-webkit-scrollbar {
    width: 0.75rem;
    height: 0.75rem;
}

pre::-webkit-scrollbar-track {
    background: #585b70;
    border-radius: 0.25rem;
}

pre::-webkit-scrollbar-thumb {
    background: #cdd6f4;
    border-radius: 0.25rem;
}


/* Footer Styling */
footer {
    width: 100%;
    background-color: #2b2b2b;
    color: white;
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
    text-align: center;
}

/* Footer Links */
footer a,
.error-message a {
    color: white;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease-in-out;
}

footer a:hover,
.error-message a:hover {
    color: #5fd35f;
}

footer a::after,
.error-message a::after {
    content: "";
    display: block;
    width: 0;
    height: 0.125rem;
    background: #5fd35f;
    transition: width 0.3s ease-in-out;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

footer a:hover::after,
.error-message a:hover::after {
    width: 100%;
}

/* Separator */
.separator {
    padding: 0 0.2rem;
}

/* Footer Content */
#footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}

/* Footer Signature */
#footer-signature {
    color: #b0b0b0;
    font-size: 0.9rem;
    transition: color 0.3s ease-in-out;
}

#footer-signature:hover {
    color: #d0d0d0;
}

/* Hidden Elements */
[x-cloak] {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out;
}

@media (max-width: 720px) {
    #main-container {
        min-height: 100vh;
    }
    #solution-container {
        width: 90vw;
    }

    #progress-container {
        width: 90%;
    }

    .code-container {
        width: 100%;
    }

    code {
        font-size: 0.75rem;
    }

    #selectors-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .error-icon {
        font-size: 2rem;
    }
}