---
import Title from "../components/Title.astro"
import SolutionContainer from "../components/SolutionContainer.astro"
import Footer from "../components/Footer.astro"

import "../styles/global.css"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>AoC Solutions in go</title>

		<meta name="description" content="List of my solutions in go for the different editions of Advent of Code.">

		<!-- Open Graph -->
		<meta property="og:title" content="AoC Solutions in go" />
		<meta property="og:description" content="List of my solutions in go for the different editions of Advent of Code." />
		<meta property="og:type" content="website" />
	
		<!-- Twitter Card -->
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content="AoC Solutions in go" />
		<meta name="twitter:description" content="List of my solutions in go for the different editions of Advent of Code." />
		

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prism-themes/themes/prism-one-dark.css">
		<script src="https://cdn.jsdelivr.net/npm/prismjs/prism.js" defer></script>
		<script src="https://cdn.jsdelivr.net/npm/prismjs/components/prism-go.min.js" defer></script>

		<script type="application/ld+json">
			{
			  "@context": "https://schema.org",
			  "@type": "WebSite",
			  "name": "AoC Solutions in go"
			}
		</script>
			
		
	</head>
	<body>
		<div id="main-container">
			<Title />
			<SolutionContainer />
		</div>
		<Footer />
	</body>
</html>
