---

---
<footer>
    <div id="footer-content">
        <div id="footer-links">
            <a href="https://adventofcode.com/" target="_blank">Advent of Code</a>
            <span class="separator">&#8226;</span>
            <a href="https://github.com/alvarolc01/AdventOfCode" target="_blank">All Solutions</a>
            <span class="separator">&#8226;</span>
            <a href="https://github.com/alvarolc01/AdventOfCode-Site" target="_blank">View on Github</a>
        </div>

        <div id="footer-signature">
            <p>Built by Álvaro Luque with love, tears, and <a href="https://astro.build/" target="_blank">Astro</a></p>
        </div>
    </div>
</footer>