---

---
<div id="selectors-container">
    <label>
        <select x-model="selectedYear" @change="changeYear">
            <option value="" disabled selected>Select an option</option>
            <template x-for="yearlySolutions in solutions" :key="yearlySolutions.year">
                <option :value="yearlySolutions.year" x-text="yearlySolutions.year"></option>
            </template>
        </select>
    </label>


    <label>
        <select x-model="selectedDay" x-bind:disabled='selectedYear == ""'>
            <option value="" disabled selected>Select an option</option>
            <template x-for="daySolutions in availableDays" :key="daySolutions.day">
                <option :value="daySolutions.day" x-text="daySolutions.day + ' - ' + daySolutions.name"></option>
            </template>
        </select>
    </label>
</div>
